
<h1>Cadastro</h1>
  <div class="row">
    <div class="input-field col s6">
      <input value="" id="first_name" type="text" class="validate">
      <label class="active" for="first_name">First Name</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input value="" id="last_name" type="text" class="validate">
      <label class="active" for="last_name">Last name</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input value="" id="password" type="text" class="validate">
      <label class="active" for="password">password</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input value="" id="email" type="text" class="validate">
      <label class="active" for="email" data-error="wrong" data-success="right">email</label>
    </div>
  </div>

  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right"></i>
  </button>


