<div>

  <form #userFormCad="ngForm" (ngSubmit)="onFormSubmCad(userFormCad)">

    <div class="form-group">
      <label for="name">Nome :</label>
      <input name="name" class="form-control"  id="name" ngModel required #userName="ngModel">
    </div>

    <div class="form-group">
      <label for="email">Email :</label>
      <input name="email" class="form-control"  id="email" ngModel required #userEmail="ngModel">
    </div>

    <div class="form-group">
      <label for="password">password :</label>
      <input type="password" name="password" class="form-control"  id="password" ngModel required #userPassword="ngModel">
    </div>

    <article>
      <input type="radio" name="gender" value="Administrador" checked> Administrador<br>
      <input type="radio" name="gender" value="Alguma coisa"> Alguma coisa<br>
      <input type="radio" name="gender" value="Provedor"> Provedor
    </article>

    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>

</div>

<div>
  <p>Form value: <b> {{ userFormCad.value | json }} </b></p>
  <p>Form valid: <b> {{ userFormCad.valid }} </b></p>
  <p>Form touched: <b> {{ userFormCad.touched }} </b></p>
  <p>Form submitted: <b> {{ userFormCad.submitted }} </b></p>
</div>

<div>
  <p>Name value: <b> {{ userFormCad.value }} </b></p>
  <p>Name valid: <b> {{ userFormCad.valid }} </b></p>
</div>




