<h1>Login</h1>
<div>
  <form form #formLogin = "ngForm"  (ngSubmit) = "onSubmit(formLogin)">

    <div class="form-group">
      <label for="nameL">Nome :</label>
      <input  name="name" class="form-control"  (keyup)="onKeUp($event)"  id="nameL" ngModel required #userNameL="ngModel">
      <p> valor atual: {{ valorAtual }}</p>
    </div>

    <div class="form-group">
      <label for="passwordL">password :</label>
      <input type="password" name="passwordL" class="form-control"  id="passwordL" ngModel required #userPasswordL="ngModel">
    </div>

    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>

    <button  (click)="onClick()" type="submit" class="btn btn-default">Submit</button>
  </form>

</div>

<div>
  <p>Form value: <b> {{ formLogin.value | json }} </b></p>
  <p>Form valid: <b> {{ formLogin.valid }} </b></p>
  <p>Form touched: <b> {{ formLogin.touched }} </b></p>
  <p>Form submitted: <b> {{ formLogin.submitted }} </b></p>

</div>

<div>
  <p>Form value: <b> {{ formLogin.value | json }} </b></p>
  <p>estado do user : <b>{{temContaGet()}} </b> </p>

</div>

