
<div class="container">
  <div class="row">

    <div class="col s6 offset-s3 z-depth-1" id="panell">
      <h3 id="title">Login</h3>
      <form #formLogin = "ngForm"  (ngSubmit) = "onSubmit(formLogin)">

        <div class="input-field" id="username">
          <p>Username</p>
          <input  type="text" class="validate" name="username" ngModel>
          <label for="username"></label>
        </div>

        <div class="input-field" id="password">
          <p>Password</p>
          <input  type="password" class="validate" name="password" ngModel>
          <label for="password"></label>
        </div>

        <p>
          <input type="checkbox" id="remember"/>
          <label for="remember" id="checkbox" >Remember me</label>
        </p>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right"></i>
        </button>
        <a class="waves-effect waves-light btn" id="signin" routerLink="/cadastro">Signin</a>

      </form>

    </div>
  </div>

</div>

